@import url('https://fonts.googleapis.com/css?family=Ewert');

h1, h2 {
  font-family: 'Ewert', cursive;
  text-align: center;
}

li {
  border: 1px solid #ddd;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
}

.promoted {
  background-color: #FFC656;
  border-color: #FFA807;
}

.actions {
  float: right;
  transition: 0.3s;
  opacity: 0;
  margin-bottom: 0;
}

.actions button {
  margin-right: 0 !important;
}

.acrobat:hover .actions {
  opacity: 1;
}
span.acrobat-name {
  line-height: 40px;
  padding: 1px 1px 1px 9px;
}